# Ignore Visual Studio temporary files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build results
# Ignore all bin/ directories
**/bin/

# Ignore all obj/ directories
**/obj/

# Ignore other files
*.log
