# Ignore Visual Studio temporary files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build results
CarRentApp.Domain/obj/
CarRentApp.Domain/bin/
CarRentApp.Repository/obj/
CarRentApp.Repository/bin/
CarRentApp.Service/bin/
CarRentApp.Service/obj/
CarRentApp.Web/obj/
CarRentApp.Web/bin/

# Ignore other files
*.log
